{% extends 'inmobiliaria/base.html' %}

{% block titulo %} About {% endblock  %}

{% block encabezado1 %} 
<h1 class="text-white font-weight-bold">Seccion about</h1>
{% endblock %}

{% block contenido %} 

    <h1> Mi nombre es Martin Gutierrez tengo 35 años, la pagina la hice solo porque no sabia que podia ser en grupo :) y ademas como un desafio personal,
    elegi una web de una inmobiliaria porque imagine que podia emplear todo lo aprendido y podia darle un buen diseño, espero q asi quede al finalizar
    el trabajo ya que este "about" lo estoy escribiendo mientras hago el resto de las cosasa para la pagina.-
    </h1>

{% endblock %}
